.footer
  display: flex
  justify-content: space-between
.map
  flex-basis: 53%
  min-height: 640px
  background-color: #000
.contacts
  margin: 100px 0
  margin-left: 130px
  flex-basis: 42%
  &-title
    margin-bottom: 100px
  &-advantages
    &__img
      min-width: 40px
      min-height: 40px
      border-radius: 50%
      margin-right: 10px
      background-size: 16px
      background-repeat: no-repeat
      background-position: center
      &-1
        background-image: url('../img/map/map-placeholder.png')
      &-2
        background-image: url('../img/map/clock-with-white-face.png')
      &-3
        background-image: url('../img/map/phone-call-button.png')
    &__text
      width: 150px