@media (max-width: 1990px)
  .container
    width: 1100px
    padding:
      left: 1%
      right: 1%
  .slider
    &__item
      img
        max-width: 95%

@media (max-width: 992px)
  .container
    width: auto
  .main
    &-text
      &__title
        font-size: 30px
        line-height: 36px
  .feedback
    background: #ffffff
  .portfolio
    padding: 100px 0 
  .modal
    &-container
      margin: auto
      width: 100%
    &-wrap
      padding: 40px 0 0 40px
      &__right
        padding: 40px 40px 0 0
    &__title
      line-height: 33px
      margin-bottom: 52px
      span
        margin-bottom: 53px
    &-text
      &__title
        font-size: 15px
        line-height: 25px
    &-descr
      margin-top: 10px
      &__title
        line-height: 10px
  .question
    width: auto
    &-wrap
      &__elem
        padding: 0

@media (max-width: 768px)
  .headden-xs
    display: none
  .header
    &-text
      &__city
        font-size: 10px
      &__phone
        font-size: 14px
  .main
    padding: 30px 0
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
        text-align: center
    &-advantages
      max-width: 100%
  .feedback
    padding: 30px 0
  .slider
    padding: 30px 0
  .form
    max-width: 100%
    flex-direction: column
    text-align: center
    &__title
    &__input
      width: 100%
      text-align: center
    &__item
      margin: 0 10%
  .section
    &-title
      font-size: 24px
      line-height: 35px
    &-subtitle
      font-size: 20px
      padding: 30px
  .portfolio
    padding-top: 30px
  .element
    margin: auto
    padding-left: 20px
  .modal
    &-container
      flex-direction: column
    &-text
      &__title
        font-size: 14px
    &-item
      &__title
        font-size: 20px
        padding: 0
      &__subtitle
        padding: 0
      &__price
        font-size: 14px
      &__input
        width: 90%
      &__button
        width: 90%
    &-descr
      &__title
        text-align: center
        margin-top: 0
        margin-bottom: 5%
    &__dialog
      margin: auto
      height: 98%
      width: 98%
      align-content: space-around
      overflow-y: scroll
    &-wrap
      width: auto
      flex-direction: column
      padding: 40px 0 0 0
      &__right
        padding-top: 0
        margin-bottom: 10%
  .arrow
    &_right
      left: 60%
    &_left
      left: 55%
  .question
    &-text
      &__title
        text-align: center
        span
          margin-top: 30px
    &-wrap
      padding: 0
      margin: 0
      &__elem
        padding: 0
        max-width: 400px
        margin: auto
    &-form
      padding: 0
  .price
    padding: 30px 0
  .footer
    display: block
  .map
    min-height: 400px
    max-height: 100%
  .contacts
    max-width: 400px
    margin: 30px auto
    &-title
      text-align: center
      margin-bottom: 30px
    &-advantages
      max-width: 100%
      align-items: center
    
@media (max-width: 650px)
  .header
    &-logo
      display: none
    &-text
      margin: auto
    .main
    &-advantages
      margin: auto
    &-text
      &__title
        font-size: 15px
        line-height: 26px
  .form
    margin: 10px
    &-advantages
      font-size: 14px
      &__img
        display: none
    &__title
      font-size: 20px
      span
        font-size: 15px
    &__phone
      font-size: 14px
    &__input
      width: 90%
    &__button
      width: 90%
    &__item
      &-text
        width: 200px
        font-size: 14px
    &__input
      &:first-child
        margin-right: 0
  .main
    &-text
      &__title
        font-size: 25px
        line-height: 20px
  .modal
    &-item
      padding: 3%
      &__title
        font-size: 15px
        line-height: 20px
        padding: 5%
        span
          font-size: 15px
          margin-top: 25px
      &__text
        &-elem
          font-size: 13px
        &-ul
          font-size: 15px
          line-height: 20px
        &-title
          margin-top: 0
    &-wrap
      padding-left: 0
      &__right
      width: 100%
      justify-content: center
      align-content: space-between
  .element
    padding-left: 0
  .section
    &-title
        font-size: 20px
        line-height: 30px
    &-subtitle
      font-size: 18px

@media (max-width: 375px)
  .arrow
    &_right
      left: 60%
    &_left
      left: 60%
  .header
    &-text
      &__phone
        font-size: 10px

@media (max-width: 320px)
  .arrow
    &_left
      margin-left: -15px
  .modal
    &-item
      &__subtitle
        line-height: 20px
        margin: 10px 0
