@media (max-width: 1199px)
  .container
    width: 970px

@media (max-width: 1024px)
  .container
    width: 900px
  .main
    &-text
      &__title
        font-size: 30px
        line-height: 36px
  .feedback
    background: #ffffff

@media (max-width: 768px)
  .headden-xs
    display: none
  .container
    width: 95%
  .header
    &-text
      &__city
        font-size: 10px
      &__phone
        font-size: 14px
  .main
    padding: 30px 0
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
        text-align: center
  .feedback
    padding: 30px 0
  .form
    max-width: 100%
    flex-direction: column
    &__title
      text-align: center

@media (max-width: 425px)
  .container
    width: 400px
  .header
    &-logo
      display: none
    &-text
      margin: auto
    .main
    &-advantages
      margin: auto
    &-text
      &__title
        font-size: 15px
        line-height: 26px
  .form
    margin: 10px
    &-advantages
      font-size: 14px
      &__img
        display: none
    &__title
      font-size: 20px
      span
        font-size: 15px
    &__phone
      font-size: 14px
    &__input
      width: 100%
    &__item
      &-text
        width: 200px
        font-size: 14px
    &__input
      &:first-child
        margin-right: 0
  .main
    &-text
      &__title
        font-size: 25px
        line-height: 20px
  .modal
    &-item
      &__title
        font-size: 15px
        line-height: 20px
        padding: 0 5% 5% 5%
        span
          font-size: 15px
          margin-top: 25px
      &__text
        &-elem
          font-size: 13px
        &-ul
          font-size: 15px
          line-height: 20px
        &-title
          margin-top: 0
    &-wrap
      flex-direction: column


@media (max-width: 375px)
  .container
    width: 350px

@media (max-width: 320px)
  .container
    width: 300px