.container
  display: flex
.modal
  position: fixed
  width: 100%
  height: 100%
  background-color: rgba(#000, 0.52)
  left: 0
  top: 0
  z-index: 99
  display: none
  &__item
    display: block
    text-align: center
    padding: 7%
  &__input
    width: 100%
  &_visible
    display: flex
  &__dialog
    width: auto
    height: 674px
    background-color: #fff
    margin: auto
    display: flex
    justify-content: center
    align-items: center
    position: relative
  &__close
    position: absolute
    top: 5px
    right: 5px
    &:hover
      cursor: pointer