.modal
  position: fixed
  height: 100%
  width: 100%
  background-color: rgba(#000, 0.52)
  top: 0
  left: 0
  z-index: 99
  display: flex
  justify-content: space-around
  &-container
    background-color: #f7f7f7
    display: flex
  &_hidden
    display: none
  &_visible
    display: flex
  &__dialog
    width: 98%
    max-width: 1170px
    height: auto
    background-color: #fff
    margin: auto
    display: flex
    justify-content: center
    align-items: center
    position: relative
  &__close
    position: absolute
    top: 5px
    right: 5px
    &:hover
      cursor: pointer
  &-wrap
    width: 50%
    display: flex
    flex-direction: column
    padding: 70px 0 70px 70px
    &__right
      padding: 70px 70px 70px 0
    &__text
      align-self: center
      ul
        margin: 0
        padding: 5px 0
        li
          width: 45px
          height: 2px
          background-color: #ffd200
    &__image
      margin-right: 13px
      width: 120px
      height: 90px
  &-text
    &__price
      font-size: 16px
      margin-top: 12px
    &__title
      +medium
      font-size: 16px
    &__price
      font-size: 16px
  &-item
    &__price
      span
        +bold
    &__title
      font-size: 22px
      line-height: 33px
      margin-bottom: 0
      padding-bottom: 55px
    &__subtitle
      margin-top: 0
      padding-bottom: 10%
      font-size: 16px
      line-height: 35px
    &__content
      text-align: center
    &__input
      outline: none
      font-size: 15px
      padding: 26px
      border: 1px solid $input-border
        radius: 10px
      width: 80%
      margin-bottom: 15px
    &__button
      margin:
        top: 15px
        bottom: 20px
      padding: 28px
      width: 80%
    &__text
      margin: 13px 17%
    &__block
      margin: 10% 0
    &__phone
      display: block
      text-decoration: none
      color: $text-color
      +bold
      font-size: 20px
  &-form
    display: flex
    flex-direction: column
    text-align: center
  &-descr
    &__title
      +bold
      font:
        size: 16px
        weight: 400
      line-height: 30px
      margin-top: 50px
    &__text
      li
        font:
          size: 14px
          weight: 400
        line-height: 25px 
        color: #ffd200
        span
          color: #000000
  
.input
  &-name
    margin: 
      right: 0px
      bottom: 15px
    width: 100%
  &-tel
    width: 100%
    margin: 
      bottom: 30px
.element
  padding-bottom: 15px
  &1
    display: flex
  &2
    display: flex
  &3
    display: flex