.question
  display: grid
  grid-template-columns: 1.2fr 1fr
  grid-template-rows: auto
  margin: 0
  padding: 0
  &-wrap
    background-image: url('../img/question/phone_question.png')
  &-text
    background-color: $br-color
    flex-basis: 55%
    padding:
      left: 40%
      top: 100px
      bottom: 100px
      right: 10%
    &__title
      font-size: 22px
      line-height: 33px
      span
        font-size: 16px
        line-height: 45px
        margin-top: 50px
  &-form
    padding:
      right: 40%
      bottom: 100px
      top: 100px
      left: 10%
    &__text
      margin: 13px 0
  &-advantages
    &__text 
      font-size: 16px
      line-height: 26px
      +bold
      span
        +medium
    &__img
      min:
        width: 40px
        height: 40px
      border: 2px solid $primary-color
        radius: 50%
      margin-right: 30px
      background:
        size: 16px
        repeat: no-repeat
        position: center
      &-1
        background-image: url('../img/question/1.png')
      &-2
        background-image: url('../img/question/2.png')
      &-3
        background-image: url('../img/question/3.png')
      &-4
        background-image: url('../img/question/4.png')