.question
  background: #ffc000
  &-wrap
    display: flex
    &__elem
      padding: 0
        top: 100px
      &1
        width: 700px
  &-text
    flex-basis: 50%
    &__title
      font-size: 22px
      font-weight: 400
      line-height: 33px
      +bold
      margin-bottom: 4%
      span
        font-size: 16px
        line-height: 45px
        display: block
        margin-top: 50px
      